<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Match - Funcionários X Habilidades</span>
</mat-toolbar>

<mat-drawer-container autosize="">
    <mat-drawer opened="true" mode="side" #drawer>
        <mat-nav-list role="list">
            <a mat-list-item routerLink="employees"> <mat-icon matListItemIcon >assignment_ind</mat-icon>Funcionários</a>
            <a mat-list-item routerLink="companies"> <mat-icon matListItemIcon >business</mat-icon>Empresas</a>
            <a mat-list-item routerLink="knowledge"> <mat-icon matListItemIcon >school</mat-icon> Habilidades</a>
            <!-- <button mat-list-item routerLink="employees"><mat-icon matListItemIcon >assignment_ind</mat-icon><span matListItemTitle>Funcionários</span></button>
            <button mat-list-item routerLink="companies"><mat-icon matListItemIcon >business</mat-icon> <span matListItemTitle>Empresas</span></button>
            <button mat-list-item routerLink="employees"><mat-icon matListItemIcon >school</mat-icon> <span matListItemTitle>Habilidades</span></button> -->
            <!-- <mat-list-item routerLink="employees" role="listitem">
            </mat-list-item>
            <mat-list-item routerLink="companies">
            </mat-list-item>
            <mat-list-item routerLink="companies">
            </mat-list-item> -->
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>